<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>

    <partial name="_Menu" />
     @RenderBody()

    <footer>

        <p>Fiap @DateTime.Now.Year</p>
    </footer>

    

    @RenderSection("Script", false)
</body>
</html>