@model Aluno


<h1>Boa quinta @ViewData["nome"] sua idade já foi @ViewBag.Idade </h1>
<p>
    @Model.Id
    <br />
    <br />
    @Model.Nome
</p>

<br />
<br />

<email mail-to="rodolfo"></email>


<a href="mailto:rodolfo.fadino@gmail.com"> Mande um email</a>

<br />
<br />

<vc:noticias noticias-urgentes="true" total="6"></vc:noticias>

@await Component.InvokeAsync("Noticias", new { total=4, noticiasUrgentes = true })




@*<img src="~/giphy.gif" />*@


@section Scripts{

    <script type="text/javascript">
          //  alert("teste");
    </script>

}
