@model Aluno

<h1>Boa terça</h1>
<div class="row">
    <div id="carroseul" class="col">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-1.png" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-2.png" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-3.png" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-4.png" />
                    </li>
                </ul>
            </div>
            <div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>
            <div>	    </div>

        </div>
    </div>
</div>


<div class="row">
    <div id="menu">
        <ul>
            <li>
                <div class="icon mysprite brasil"></div>
                Brasil
            </li>
            <li>
                <div class="icon mysprite alemanha"></div>
                Alemanha
            </li>
            <li>
                <div class="icon mysprite grecia"></div>

                Grecia
            </li>

            <li>
                <div class="icon mysprite eua"></div>
                EUA
            </li>
            <li>
                <img class="icon" src="~/images/canada.png" />
                Canada
            </li>
            <li>
                <img class="icon" src="~/images/argentina.png" />
                Argentina
            </li>
            <li>
                <img class="icon" src="~/images/japao.png" />
                Japão
            </li>
            <li>
                <img class="icon" src="~/images/italia.png" />
                Italia
            </li>
            <li>
                <img class="icon" src="~/images/espanha.png" />
                Espanha
            </li>
            <li>
                <img class="icon" src="~/images/portugal.png" />
                Portugal
            </li>
        </ul>
    </div>
</div>




@*<h1>Boa quinta @ViewData["nome"] sua idade já foi @ViewBag.Idade </h1>
    <p>
        @Model.Id
        <br />
        <br />
        @Model.Nome
    </p>

    <br />
    <br />

    <email mail-to="rodolfo"></email>


    <a href="mailto:rodolfo.fadino@gmail.com"> Mande um email</a>

    <br />
    <br />*@

<vc:noticias noticias-urgentes="true" total="6"></vc:noticias>

@*@await Component.InvokeAsync("Noticias", new { total = 4, noticiasUrgentes = true })*@




@*<img src="~/giphy.gif" />*@


@section Scripts{

    <script type="text/javascript">
        //  alert("teste");
        $.get("https://localhost:5001/api/alunos", function (data, status) {
            console.log(data);
        });

    </script>

}
